:root {
    --primary-color: #EBEBEB;
    --primary-text-color: #000;
    --app-title-font-size: clamp(1.2rem, 1.5rem, 2rem);
    --app-font: "Roboto", sans-serif;
    --app-font-main-weight: 400;
    --app-font-secondary-weight: 200;
    --app-font-style: normal;
}

html {
    font-family: var(--app-font);
    font-weight: var(--app-font-main-weight);
    font-style: var(--app-font-style);
    font-size: var(--app-title-font-size);
}

body {
    display: flex;
    flex-direction: column;
    min-width: 22.5rem; /*360px.*/
    min-height: 100vh;
}

/* START */

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    height: 2.25rem;
    background-color: var(--primary-color);
    align-items: center;
    padding: .5rem;
    color: var(--primary-text-color);
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    overflow-y: scroll;
    margin: 3.5rem;
}

main .message {
    display: block;
    width: 10rem;
    padding: 1rem;
    margin: .5rem;
    background-color: var(--primary-color);
    border-radius: .4rem;
}

main .message .message-sender-resume {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main .message .message-sender-resume .message-sender-name {
    font-size: clamp(.5rem, .8rem, 1rem);
    margin-left: .5rem;
}

main .message .message-content {
    margin-top: .5rem;
    font-size: clamp(.8rem, .8rem, 1rem);
}

footer {
    display: flex;
    width: 100%;
    min-width: inherit;
    flex-direction: row;
    bottom: 0;
    position: fixed;
    z-index: 1000;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: 2.5rem;
    background-color: var(--primary-color);
    align-items: center;
}

#message-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#message-input form {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    width: 100%;
}

#message-input form input[name="message-content"] {
    width: 100%;
    border-radius: .4rem;
    border: none;
    outline: none;
}

#submit {
    padding: .5rem;
    margin-left: .5rem;
    border: none;
    background-color: #74AA9C;
    border-radius: .2rem;
    color: var(--primary-color);
    cursor: pointer;
}